$bodyBgColor: rgb(26, 26, 26);
$headerBgColor: #272727;
$darkWhite: rgb(219, 219, 219);
$darkerWhite: rgb(175, 175, 175);
$borderSize: 1.5rem;
$borderSizeSmall: 0.75rem;

body {
  background-color: $bodyBgColor;
}
header {
  background-color: $headerBgColor;
  color: $darkWhite;
  border-bottom-left-radius: $borderSize;
  border-bottom-right-radius: $borderSize;
  box-shadow: 9px 10px 25px 6px rgba(0, 0, 0, 0.75);
  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}

main {
  background-color: $headerBgColor;
  border-radius: $borderSize;
  color: $darkWhite;
  box-shadow: 9px 10px 25px 6px rgba(0, 0, 0, 0.75);
}

.btn-white {
  background-color: $headerBgColor;
  color: $darkWhite;
  &:hover {
    color: white;
  }
}
.sidebar-width {
  width: 300px;
}

@media screen and (max-width: 768px) {
  .sidebar-width {
    width: 100%;
  }
}

#poster {
  border-radius: $borderSizeSmall;
}
.darkWhite {
  color: $darkWhite;
}

.darkerWhite {
  color: $darkerWhite;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}
