$bodyBgColor: rgb(26, 26, 26);
$headerBgColor: #272727;
$darkWhite: rgb(219, 219, 219);
$darkerWhite: rgb(175, 175, 175);
$borderSize: 1.5rem;
$borderSizeSmall: 0.75rem;

body {
  background-color: $bodyBgColor;
}
header {
  background-color: $headerBgColor;
  color: $darkWhite;
  border-bottom-left-radius: $borderSize;
  border-bottom-right-radius: $borderSize;
  box-shadow: 9px 10px 25px 6px rgba(0, 0, 0, 0.75);
  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}

main {
  color: $darkWhite;
}
.container {
  background-color: $headerBgColor;
  border-radius: $borderSize;
  box-shadow: 9px 10px 25px 6px rgba(0, 0, 0, 0.75);
}

.btn-white {
  background-color: $headerBgColor;
  color: $darkWhite;
  &:hover {
    color: white;
  }
}
.sidebar-width {
  width: 300px;
}

@media screen and (max-width: 576px) {
  .sidebar-width {
    width: 90vw;
  }
}

#poster {
  border-radius: $borderSizeSmall;
}
.poster {
  border-radius: $borderSizeSmall;
}
.darkWhite {
  color: $darkWhite;
}

.darkerWhite {
  color: $darkerWhite;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%);
}

.slopeEnd {
  clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 170%;
  height: 100%;
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}

.parallaxSpan {
  display: inline-block;
  position: relative;
}

.circle {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background-color: #555555;
  margin: 0.5rem;
  box-shadow: 4px 4px 2px black;
}
.circle-active {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  margin: 0.5rem;
  box-shadow: 4px 4px 2px black;
  background-color: white;
}
